.formulario{
    background-color: #efecec;
    /* Os próximos dois comandos fazem os elementos colarem nas extremidades do navegador*/
    /*margin-left: -15px; ignorar*/
    /*margin-right: -15px; ignorar*/
    margin: 80px 0;
    padding: 40px 15px 40px 15px;/*Afasta SOMENTE O CONTEÚDO da borda da página, sendo a ordem CIMA, DIREITA, BAIXO e ESQUERDA*/
    box-shadow: 0 3px 5px 0 #989898;/* Primeiro zero= Distancia Horizontal / Segundo = Distância Vertical / 5px = Controla a desfocagem. Quando menos, mais concentrada fica a cor
    0 = Expansão da borda / #000 = cor da borda*/
    /* Dá pra colocar o valor INSET antes do comendo para indicar a somba interna. EX: box-shadow: inset 0 3px 5px 0 #989898;*/
    @media(min-width: $breakpoint-md){
        padding-bottom: 0px;
        .formulario__grupo{
            float: left;
            width: 100%;
        }
        .formulario__grupo--coluna-esq{
            width: 50%;
            padding-right: 15px;
        }
        .formulario__grupo--coluna-dir{
            width: 50%;
            padding-left: 15px;
        }
        .formulario__botao{
            font-size: 20px;
            transform: translateY(-37px);/*Eixo Y mexe de forma vertical
            X, vertical e Z é para objetos tridimensionais*/
        }
    }
    label.error{
        border-left: 4px solid $cor-principal;
        padding-left: 4px;
        color: $cor-principal;
        margin-left: 3px;
    }
}
.formulario__grupo{
    margin-bottom: 15px;
}
.formulario__campo{
    width: 100%; /*Faz com que a largura do elemento ocupe todo o seu conteiner*/
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 10px 5px;/*Sendo o 10px CIMA e BAIXO e o 5px DIREITA e ESQUERDA*/
}
.formulario__label{
    color: #343434;
}
.formulario__botao{
    border: 3px solid $cor-principal;
    border-radius: 300px;
    background-color: #fff;
    color: $cor-principal;
    padding: 5px 20px; /*Sendo o 5px CIMA e BAIXO e o 20px DIREITA e ESQUERDA*/
    cursor: pointer;/*Muda o cursor pra mãozinha*/
    display: block;
    margin: 0 auto;
    font-weight: bold;
}
.formulario__erro{
    background: #f00;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.formulario__sucesso{
    background: #00a91e;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}